/*.dropdown{
    display: flex;
    justify-content: center;
    align-items: center;
}
.dropdown-list{
    position: relative;
    display: block;

}

.dropdown button {
    background:none;
    border: none;
}

.dropdown-list ul{
    position: absolute;
    left: 0;
    display: block;
    background-color: var(--main-brand-color);
    margin-top: 2.5rem;
    opacity: 0;
    list-style: none;
    border-radius: 10px;

    
    pointer-events: none;
    transition: all 0.4s ease;
    transform: translateY(-10px);
}


.dropdown-list li{
    border: 5px solid darkgray;
    border-radius: 0.5rem;
    text-align: left;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    
}

.dropdown-list a{
    display: block;
    justify-content: left;
    color: black;
    text-decoration: none;
}





.dropdown-list button:dir + ul
{
    opacity: 1;
    pointer-events: all;
    
}