body {
    background: black;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    letter-spacing: 2px;
  }
  
  /*Header*/
  header {
   text-align: center;
   margin-top: 2rem; 
  }

  header img {
    border-radius: 50%;
    width: 7em;

  }

  header h3 {
    font-size: 1rem;
  }

  header p{
    font-size: 0.8rem;
    margin-left: 20%;
    margin-right: 20%;
  }

  /*Hero-Image*/
  main {
    margin-top: 3rem;
    text-align: center;
  }

  .links {
    text-align: center;
    margin-top: 1.5rem;
    padding: 1.5rem;
    border: 1px solid white;
    border-width: 0.15rem;
    max-width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1.5rem;
}

a {
    text-decoration: none;
    color: white;
    transition: color 1s; 
  }





  main img {
    width: 1.2rem;
    margin-right: 1rem;
    margin-top: auto;
    margin-bottom: auto;
  }

  a:hover {
    color: #000;
    background: #fff;
  }

  footer{
    margin-bottom: 5rem;
  }
/

  /*Media Queries*/
  
  @Media(max-width: 768px){
    body{
        font-size: 1rem;
        
    }

    main img {
      width: 1.2rem;
      margin-right: 1rem;
      margin-top: auto;
      margin-bottom: auto;
    }
    
    
}
